@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Complements/Fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Complements/Fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Complements/Fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

:root {
    --main-color: #8ccbff;

    --main-padding-sides: 100px;
    --second-padding-sides: 50px;
}

@media only screen and (max-width: 1199px) {

    .seccion-3 [class*="imagenes-mosaico-"] {
        width: 85vw;
        height: 200px;
        margin: 25px;
        object-fit: cover;
        background-size: 150%;
        background-repeat: no-repeat;
    }

    .quitar-imagen {
        display: none;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto-Regular;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: Roboto-light;
}

.icon {
    height: 40px;
}

button {
    font-family: Roboto-Light;
    font-size: 20px;
    height: 60px;
    width: 100%;
    background-color: var(--main-color);
    border: none;
}

header {
    height: 80vh;
    background-color: var(--main-color);
}

.fondo {
    height: 80vh;
    width: 100%;
    object-fit: cover;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/*-- TODO: Efecto parallax */
.fondo {
    object-fit: cover;
    filter: brightness(75%);
}

.content-header {
    padding-top: 50px;
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 0 var(--main-padding-sides);
}

.logo {
    height: 70px;
    width: auto;
}

.menu-container {
    display: flex;
    justify-content: right;
}

.menu {
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #0005;
    border: 1px solid var(--main-color);
    min-width: 600px;
    max-width: 600px;
}

header li {
    text-decoration: none;
    padding: 25px 35px;
    width: 100%;
    text-align: center;
}

.titulo {
    color: #fff;
    padding-top: 350px;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    padding-left: var(--main-padding-sides);
}

.titulo h1 {
    font-size: 100px;
    line-height: 100px;
}

.titulo h2 {
    margin-top: 20px;
    font-family: Roboto-Light;
    font-size: 30px;
}


section {
    margin-top: 150px;
    width: 100%;
    /* border: 1px solid red; */
}

section hgroup {
    margin: 0 var(--main-padding-sides);
    color: var(--main-color);
    margin-bottom: 50px;
}

section hgroup h4 {
    color: #000000;
    font-family: Roboto-Light;
    font-size: 20px;
}

section hgroup h3 {
    font-family: Roboto-Bold;
    font-size: 40px;
}

/** ---------- SECCIÓN 1 ---------- */

.seccion-1 {
    width: 100%;
    text-align: center;
}

.seccion-1 hgroup {
    text-align: left;
}

.seccion-1 [class*="imagen-"] {
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 350px;
}

.imagen-1 {
    background-image: url("../Complements/Img/Empresa/batidora.jpg");
}

.seccion-1 .texto {}

.seccion-1 .texto h3 {
    margin-top: 15px;
    font-size: 30px;
    font-size: Roboto-Bold;
}

.seccion-1 .texto p {
    font-size: 22px;
    padding: 25px;
    margin-top: 35px;
}

.imagen-2 {
    background-image: url("../Complements/Img/Empresa/cascos.jpg");
    background-size: 150% !important;
}

.imagen-3 {
    background-image: url("../Complements/Img/Empresa/guinitando.jpg");
}

/* ---------- SECCIÓN-2 ---------- */

.seccion-2 {
    background-color: var(--main-color);
    height: 100vh;
}

.seccion-2 .titulos {
    color: white;
    text-align: right;
    justify-content: right;
    padding-top: 150px;
}

.seccion-2 .titulos h3 {
    color: white;
}

.seccion-2 .imagenes {
    padding: 0px;
}

.seccion-2 .imagen-1 {
    background-image: url("../Complements/Img/GeneralUse/23.jpg");
    width: 70vw;
    height: 70vw;
    background-size: 200%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.seccion-2 .imagen-2 {
    width: 70vw;
    height: 70vw;
    background-image: url("../Complements/Img/GeneralUse/43.jpg");
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    transform: translatex(360px) translatey(150px);
}

/* ---------- SECCIÓN-3 ---------- */

.seccion-3 {
    margin-top: 650px;
}

.seccion-3 [class*="imagenes-mosaico-"] {


    height: 200px;
    margin: 25px;
    object-fit: cover;
    background-size: 150%;
    background-repeat: no-repeat;
}

.seccion-3 .imagenes-mosaico-2 {
    background-image: url("../Complements/Img/GeneralUse/10.jpg");
}

.seccion-3 .imagenes-mosaico-3 {
    background-image: url("../Complements/Img/GeneralUse/11.jpg");
}

.seccion-3 .imagenes-mosaico-4 {
    background-image: url("../Complements/Img/GeneralUse/14.jpg");
}

.seccion-3 .imagenes-mosaico-5 {
    background-image: url("../Complements/Img/GeneralUse/15.jpg");
}

.seccion-3 .imagenes-mosaico-6 {
    background-image: url("../Complements/Img/GeneralUse/16.jpg");
}

.seccion-3 .imagenes-mosaico-7 {
    background-image: url("../Complements/Img/GeneralUse/17.jpg");
}

/* ---------- SECCIÓN-4 ---------- */

.seccion-4 {
    background-color: var(--main-color);
}

.seccion-4 .titulos {
    color: #fff;
    text-align: right;
    justify-content: right;
    padding-top: 150px;
}

.seccion-4 .titulos h3 {
    color: #fff;
}

.seccion-4 video {
    width: 100%;
    padding-bottom: 150px;
}

/* ----- FOOTER ----- */

footer {
    padding: 50px var(--main-padding-sides);
    /* background-color: var(--main-color); */
    align-items: center;
    justify-content: space-between;
}

footer div {
    text-align: center;
}

footer div p, button, h5 {
    margin: 10px;
}

footer h5 {
    font-family: Roboto-Bold;
    font-size: 16px;
}

footer button {
    border: 1px solid;
    padding: 10px;
}

footer div:nth-child(3) p {
    text-align: center;
}