@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Complements/Fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Complements/Fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Complements/Fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

/* VARIABLES */

:root {
    --main-color: #8ccbff;

    --main-padding-sides: 100px;
    --second-padding-sides: 50px;
}

/* ESTILOS GENERALES */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto-Regular;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: Roboto-Light;
}

section {
    margin-top: 150px;
    width: 100%;
    border: 1px solid red;
}

section hgroup {
    margin: 0 var(--main-padding-sides);
    color: var(--main-color);
    margin-bottom: 50px;
}

section hgroup h4 {
    color: #000000;
    font-family: Roboto-Light;
    font-size: 20px;
}

section hgroup h3 {
    font-family: Roboto-Bold;
    font-size: 40px;
}

.logo {
    height: 70px;
}

/* ----- Header ----- */




header img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100vh;
    width: auto;
}

.prueba {
    
    /* margin-left: 15%;
    margin-right: 15%; */
}

/* Contenido del header */
.content-header {
    margin-top: 50px;
    color: #ffffff;
    z-index: 2;
    padding: 0 var(--main-padding-sides);
}

/* Logo header */
header nav .logo {}

/* Menú de navegación */
header nav .row{
    justify-content: space-evenly;
    text-align: center;
}

header nav ul {
    list-style: none;
    background: #0005;
    border: 1px solid var(--main-color);
}

header nav ul li {
    width: 100%;
}

header nav ul li:hover {
    background-color: #fff;
}

/* Titulo Header */

.titulo {
    display: block;
    margin-top: 60px;
    justify-content: center;
}

header h1 {
    display: block;
    color: #fff;
    font-size: 80px;
}

header h2 {
    line-height: 50px;
    font-family: Roboto-Light;
    display: block;
    font-size: 30px;
}