@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Complements/Fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Complements/Fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Complements/Fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

:root {
    --main-color: #8ccbff;

    --main-padding-sides: 100px;
    --second-padding-sides: 50px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto-Regular;
}

.img-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vh-80 {
    height: 80vh;
}

.contenedor-fotoHeader {
    position: absolute;
}

.fotoHeader{
    object-fit: cover;
}

.contenedor-content-header {
    position: relative;
    z-index: 1;
}

.content-header{ 
}

.logo {
    height: 70px;
    width: auto;
}

.titulo{
    margin-top: 250px;
    margin-left: var(--main-padding-sides);
}

.titulo-h1{
    font-size: 100px;
    line-height: 100px;
}

.titulo-h2 {
    margin-top: 20px;
    font-family: Roboto-Light;
    font-size: 30px;
}

/* ------------------ SECCION-1 ----------------------*/

.seccion-1 {
    margin: 300px var(--main-padding-sides);
    color: var(--main-color);
    margin-bottom: 50px;
}

.seccion-1 {

}

.h-250px{
    height: 350px;
}