@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Complements/Fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Complements/Fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Complements/Fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
    /* border: 1px solid cornflowerblue; */
}

.icon {
    height: 50px;
}

/** Header */

header nav{
    display: flex;
    justify-content: space-between;
    float: center;
}

header nav ul{
    display: flex;
    justify-content: right;
    float: right;
}

header nav li{
    background-color: darkcyan;
    display: inline-block;
}

header video{
    height: 50vw;
    background-color: beige;
}

/** Secciones */

section {
    margin-top: 100px;
    border: 1px solid red;
}

body section hgroup{
    color: #8ccbff;
    margin-bottom: 50px;
}

body section hgroup h4{
    color: #000000;
    font-family: Roboto-Light;
    font-size: 20px;
}

body section hgroup h3{
    font-family: Roboto-Bold;
    font-size: 35px;
}

/** Sección 1 */

body section:nth-child(2) hgroup{
    
    padding-top: 8.5%;
    padding-left: 10.5%;
}

body section:nth-child(2) hgroup h3{
  
    font-size: 45px;
    line-height: 50px;
    margin-top: 15px;
}

body section:nth-child(2) .mosaico{

    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

body section:nth-child(2) .mosaico div{

    color: #ffff;
    background-color: red;
    height: 900px;
    width: 32.5%;
    text-align: center;
    padding-top: 10%;
    font-size: 35px;
    overflow: hidden;
    font-family: Roboto-bold;
    background-size:cover
}

body section:nth-child(2) .mosaico div:nth-child(1){
    background-image: url("../Complements/Img/gunitar.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

body section:nth-child(2) .mosaico div:nth-child(2){
    background-image: url("../Complements/Img/maquina.webp");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 70%;
}

body section:nth-child(2) .mosaico div:nth-child(3){
    background-image: url("../Complements/Img/alicatar.webp");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

/** Sección 2 */

body section:nth-child(3) {
    padding-top: 8%;
    padding-bottom: 8%;
}

body section:nth-child(3) hgroup {
    padding-top: 8%;
    padding-bottom: 8%;
}

body section:nth-child(3) div{
    padding-top: 8%;
    padding-bottom: 8%;
    width: 100vw;
    height: 55vw;
    background-image: url("../Complements/Img/planificar.jpg");
}

