@font-face {
    font-family: 'Roboto-Regular';
    src: url('../Complements/Fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Complements/Fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Complements/Fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
    /* border: 1px solid cornflowerblue; */
    @font-face {
        font-family: 'Open Sans';
        src: url('fonts/OpenSans-Regular.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
    }
}

/** Header */

header nav{
    display: flex;
    justify-content: space-between;
    float: center;
}

header nav ul{
    display: flex;
    justify-content: right;
    float: right;
}

header nav li{
    background-color: darkcyan;
    display: inline-block;
}

header video{
    height: 50vw;
    background-color: beige;
}

header h1 {
    z-index: 99;
}

/** Secciones */

section {
    margin-top: 100px;
    border: 1px solid red;
}

body section hgroup{

    color: #8ccbff;
    margin-bottom: 50px;
}

body section hgroup h4{

    color: #000000;
    font-family: Roboto-Light;
    font-size: 20px;
}

body section hgroup h3{

    font-family: Roboto-Bold;
    font-size: 35px;
}

/** Sección 1 */

body section:nth-child(2){

    padding: 8%;
}

body section:nth-child(2) .mosaico{

    display: flex;
    justify-content: space-between;
}

body section:nth-child(2) .mosaico div{

    display: inline-block;
    color: #ffff;
    background-color: red;
    height: 800px;
    width: 32%;
    text-align: center;
    padding-top: 10%;
    font-size: 35px;
    overflow: hidden;
    font-family: Roboto-bold;
}

body section:nth-child(2) .mosaico div:nth-child(1){

    background-image: url("../Complements/Img/ladrillos.jpg");
    background-repeat: no-repeat;
    background-size: 710%;
}

body section:nth-child(2) .mosaico div:nth-child(2){

    background-image: url("../Complements/Img/hormigon.jpg");
    background-repeat: no-repeat;
    background-size: 710%;
}

body section:nth-child(2) .mosaico div:nth-child(3){

    background-image: url("../Complements/Img/gresite.jpg");
    background-repeat: no-repeat;
    background-size: 710%;
}

/** Sección 2 */

body section:nth-child(3) {

    padding-top: 8%;
    padding-bottom: 8%;
}

body section:nth-child(3) hgroup {

    padding-top: 8%;
    padding-bottom: 8%;
}

body section:nth-child(3) div{

    padding-top: 8%;
    padding-bottom: 8%;
    width: 100vw;
    height: 55vw;
    background-image: url("../Complements/Img/planificacion.jpg");
}