.contenido-global {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,56,212,1) 45%, rgba(0,212,255,0.8323530095632002) 94%);
}

.primera-fila {
    width: 100vw;
    height: 50vh;
}


.col-6 {
    width: 100vw;
    height: 50vh;
    padding: 50px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--main-color);
}