
.primera-fila {
    flex-wrap: nowrap;
    height: 50vh;
}

.grafica-responsive{
    width: auto !important;
    height: 100% !important;
}

.col-6 {
    width: 100vw;
    height: 50vh;
    padding: 50px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--main-color);
}